body {
  background-color: antiquewhite;
  /* margin-top: 50px; */
}
.Container {
  border: 2px solid #333;
  width: 360px;
  height: 200px;
  border-radius: 30px;
  text-align: center;
  background: aquamarine;
  margin: 30px auto;
}

button {
  background-color: #007bff;
  color: white;

  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 10px 12px 14px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
